$xs: 460px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;



$red-50: #fff1f3;
$red-100: #ffdfe4;
$red-200: #ffc4ce;
$red-300: #ff9bac;
$red-400: #ff617b;
$red-500: #ff3053;
$red-600: #f21036;
$red-700: #dc0a2d;
$red-800: #a80c26;
$red-900: #8b1125;
$red-950: #4c030f;

$primary: $red-700;

$white: #ffffff;
$black: #000000;
$dark: #212121;
$medium: #666666;
$light: #E0E0E0;
$bckg: #EFEFEF;

$pokemon-type-bug: #A7B723;
$pokemon-type-dark: #75574C;
$pokemon-type-dragon: #7037FF;
$pokemon-type-eletric: #F9CF30;
$pokemon-type-fairy: #E69EAC;
$pokemon-type-fighting: #C12239;
$pokemon-type-fire: #F57D31;
$pokemon-type-flying: #A891EC;
$pokemon-type-ghost: #70559B;
$pokemon-type-normal: #AAA67F;
$pokemon-type-grass: #74CB48;
$pokemon-type-ground: #DEC16B;
$pokemon-type-ice: #9AD6DF;
$pokemon-type-poison: #A43E9E;
$pokemon-type-psychic: #FB5584;
$pokemon-type-rock: #B69E31;
$pokemon-type-steel: #B7B9D0;
$pokemon-type-water: #6493EB;