@import './base/reset.scss';
@import './utils/variables.scss';
@import './utils/functions.scss';

html {
  font-family: 'poppins', system-ui, sans-serif;
}

body {
  background-color: $white;
  min-height: 100vh;
  overflow-y: auto;
}

#__nuxt {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: $primary;
  padding: pxToRem(4);
  box-sizing: border-box;
}